<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Try HttpPlatformHandler (modern) -->
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python.exe"
                  arguments="-m flask run --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\python.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="FLASK_APP" value="app.py" />
        <!-- If python is not in PATH, we might need full path like C:\Python39\python.exe -->
      </environmentVariables>
    </httpPlatform>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>